body{
    background-color: black;
    color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    gap:40px
}
.main-image{
    width:500px;
    height: 400px;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 280px;
}
input{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.097);
    border: 1px solid  rgba(255, 255, 255, 0.238);
    border-radius: 8px;
}
.logo{
    text-align: center;
    font-family: "instagram-font";
    font-size: 50px;
}
.auth-section{
    width:280px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
button{
    padding: 8px;
    background-color: rgb(64, 64, 249);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}

.or-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
hr{
    width: 115px;
    border: 1px solid rgba(255, 255, 255, 0.245);
}
.or{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.799);
}
.fb-login-container{
    display: flex;
    align-items: center;
    gap: 4px;
}
.fb-login{
     text-decoration: none;
    color: rgb(95, 95, 247);
    font-size: 16px;
}
.sign-up{
    color: rgb(101, 101, 255);
}
.app-download{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

@media (max-width:1000px){
    .main-image{
        display: none;
    }
}

@font-face {
    font-family: "instagram-font";
    src: url("fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf");
}